<div class="buy">

  <div class="container">
    <h2>Как купить</h2>
    <p>Если Вам необходимо решить вопросы оказания государственных и муниципальных услуг в электронном виде в сфере образования вплоть до вывода их на региональный и федеральный порталы госуслуг; если необходимо интегрироваться в федеральные базы данных Министерства образования и Минкомсвязи РФ: если необходимо построить региональную или муниципальную систему управления сферой образования – обращайтесь к нам в Компанию, мы всегда сможем предложить устраивающее Вас решение.

      </p>

    <p>Мы открыты к любому виду сотрудничества и готовы к любым разумным компромиссам!</p>

  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img class="img-responsive" src="img/buy1.png" alt="">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img class="img-responsive" src="img/buy2.png" alt="">
      </div>
    </div>

  </div>

  <div class="container">
    <div class="container ">

      <div class="row row d-flex ">
        <div class="col-sm-12 col-md-6 col-lg-6">


          <h2>Стоимость</h2>
          <p>Стоимость программного Продукта определяется в индивидуальном порядке и зависит от региона, количества подключаемых организаций и ряда других условий.
          </p>
          <p>В стоимость поставки лицензий на системы «Учет Контингента», «Е-услуги. Образование», «Сетевой Регион. Образование», «Сетевой Город. Образование» входит:
          </p>

          <ul>
            <li>установка систем на серверы Заказчика;</li>
            <li>обучение ключевых пользователей работе с системами;</li>
            <li>год гарантийной технической поддержки (выпуск обновлений, консультации по телефону и электронной почте).
            </li>
          </ul>



          <p>По окончании гарантийной технической поддержки Заказчик может заключить договор на ее продление. Стоимость продления технической поддержки предоставляется по запросу.
          </p>
          </div>

        <div class="col-sm-12 col-md-6 col-lg-6 pr-5">

          <h4 class="text-center mb-5">Запрос на коммерческое предложение</h4>

          <div class="row">
            <div class="input-group d-flex align-items-center mb-4">
              <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваше имя:</label>
              <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
            </div>

            <div class="input-group d-flex align-items-center mb-4">
              <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш е-майл:</label>
              <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
            </div>

            <div class="input-group d-flex align-items-center mb-4">
              <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш номер телефона:</label>
              <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
            </div>



            <div class="input-group d-flex  align-items-center  justify-content-sm-between">
              <p><input type="checkbox" name="a" value="" checked=""> Заполняя данную форму вы даете согласие...</p>

              <button type="button" class="btn btn-default mp-5">Отправить</button>
            </div>

          </div>



        </div>

      </div>
    </div>
  </div>

</div>
