<div class="certificates">
  <div class="container ">

    <div class="row flex-wrap d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">


        <div class="slider certificates__slider py-4 mt-5">
          <div class="px-2">
            <p>АИС «Аттестация педагогических работников» и несколько новых модулей</p>

            <p><a href="#">2017</a></p>
          </div>
          <div class="px-2">
            <p>Доработка федеральной информационной системы</p>
            <p><a href="#">2018</a></p>
          </div>
          <div class="px-2">
            <p>Перевод продуктов на Open soure software</p>
            <p><a href="#">2019</a></p>
          </div>
          <div class="px-2">
            <p>Доработка систем для дистанционного обучения</p>
            <p><a href="#">2020</a></p>
          </div>
          <div class="px-2">
            <p>Оптимизация продкутов компаниии</p>
            <p><a href="#">2021</a></p>
          </div>
          <div class="px-2">
            <p>Навигатор дополнительного образования детей</p>
            <p><a href="#">2022</a></p>
          </div>
          <div class="px-2">
            <p>Навигатор дополнительного образования детей</p>
            <p><a href="#">2022</a></p>
          </div>
        </div>

        <picture>
          <source srcset="img/sertifikat.avif" type="image/avif">
          <source srcset="img/sertifikat.webp" type="image/webp">
          <img loading="lazy" class="img-responsive" src="img/sertifikat.png"  alt="">
        </picture>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <h2>Постоянно учимся сами и обучаем других</h2>
        <p>
          Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.

        </p>
        <p>Мы сами организуем международный образовательный форум “Инфостратегия”, который ежегодно проводится в г. Самара, где мы узнаем актуальные потребности наших пользователей и демонстрируем наши новые продукты.
        </p>

      </div>
    </div>


  </div>
</div>

<p></p>
