<div class="certificates">
  <div class="container ">


    <div class="row row d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6 ">

        <h2>Награды</h2>
        <p>
          Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.
        </p>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">
        <div id="mainCarousel" class="carousel w-10/12 max-w-xl mx-auto">
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/softool_2015.webp" data-fancybox="gallery">
              <!--1-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/softool_2015_s.webp" />
              </div>

            </a>
            <a class="item" href="img/diploms/softool.jpg" data-fancybox="gallery">
              <!--2-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/softool_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/krasnodar_2014.jpg" data-fancybox="gallery">
              <!--3-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/krasnodar_2014_s.webp" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/krim_2014.jpg" data-fancybox="gallery">
              <!--4-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/krim_2014_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/diploms/mariel_2014big.jpg" data-fancybox="gallery">
              <!--5-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/mariel_2014_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/ekaterinburg_2013.jpg" data-fancybox="gallery">
              <!--6-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/ekaterinburg_2013_s.webp" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/pilev_2013.jpg" data-fancybox="gallery">
              <!--7-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/pilev_2013_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/diploms/world_skills_2013.jpg" data-fancybox="gallery">
              <!--8-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/world_skills_2013_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/07.png" data-fancybox="gallery">
              <!--9-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/07_s.png" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/11.png" data-fancybox="gallery">
              <!--10-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/11_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/09_.png" data-fancybox="gallery">
              <!--11-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/09__s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/12.png" data-fancybox="gallery">
              <!--12-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/12_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/31.png" data-fancybox="gallery">
              <!--13-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/31_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/25.png" data-fancybox="gallery">
              <!--14-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/25_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/13.png" data-fancybox="gallery">
              <!--15-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/13_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/14.png" data-fancybox="gallery">
              <!--16-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/14_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/15.png" data-fancybox="gallery">
              <!--17-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/15_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/17.png" data-fancybox="gallery">
              <!--18-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/17_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/26.png" data-fancybox="gallery">
              <!--19-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/26_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/29.png" data-fancybox="gallery">
              <!--20-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/29_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/18.png" data-fancybox="gallery">
              <!--21-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/18_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/16.png" data-fancybox="gallery">
              <!--22-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/16_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/03.png" data-fancybox="gallery">
              <!--23-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/03_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/04.png" data-fancybox="gallery">
              <!--24-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/04_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/05.png" data-fancybox="gallery">
              <!--25-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/05_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/28.png" data-fancybox="gallery">
              <!--26-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/28_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/27.png" data-fancybox="gallery">
              <!--27-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/27_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/19.png" data-fancybox="gallery">
              <!--28-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/19_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/20.png" data-fancybox="gallery">
              <!--29-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/20_s.webp" />
              </div>
            </a>
            <a class="item" href="img/diploms/32.png" data-fancybox="gallery">
              <!--30-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/32_s.png" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="img/diploms/33.png" data-fancybox="gallery">
              <!--31-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/33_s.png" />
              </div>
            </a>
            <a class="item" href="img/diploms/35.png" data-fancybox="gallery">
              <!--32-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/diploms/35_s.webp" />
              </div>
            </a>

          </div>


        </div>

      </div>
    </div>
    <div class="row row d-flex">

      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">
        <div id="sertCarousel" class="carousel w-10/12 max-w-xl mx-auto">
          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/s2.jpg" data-fancybox="gallerys">
              <!--1-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/s2_s.jpg" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/s20002.jpg" data-fancybox="gallerys">
              <!--2-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/s20002_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/svidet_E-Uslugi.jpg" data-fancybox="gallerys">
              <!--3-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_E-Uslugi_s.jpg" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/svidet_IRTechSecurity.jpg" data-fancybox="gallerys">
              <!--4-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_IRTechSecurity_s.jpg" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/svidet_MSOKO.jpg" data-fancybox="gallerys">
              <!--5-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_MSOKO_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/svidet_NSi.jpg" data-fancybox="gallerys">
              <!--6-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_NSi_s.jpg" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/svidet_Pitanie.jpg" data-fancybox="gallerys">
              <!--7-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_Pitanie_s.jpg" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/svidet_SGO.jpg" data-fancybox="gallerys">
              <!--8-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_SGO_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/svidet_SRO.jpg" data-fancybox="gallerys">
              <!--9-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/svidet_SRO_s.jpg" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/lu_1.jpg" data-fancybox="gallerys">
              <!--10-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/lu_1_s.jpg" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/lu_2.jpg" data-fancybox="gallerys">
              <!--11-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/lu_2_s.jpg" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/lu_3.jpg" data-fancybox="gallerys">
              <!--12-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/lu_3_s.jpg" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/lu_4.jpg" data-fancybox="gallerys">
              <!--13-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/lu_4_s.jpg" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/24.png" data-fancybox="gallerys">
              <!--14-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/24_s.png" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/23.png" data-fancybox="gallerys">
              <!--15-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/23_s.png" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/22.png" data-fancybox="gallerys">
              <!--16-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/22_s.png" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/21.png" data-fancybox="gallerys">
              <!--17-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/21_s.png" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/01.png" data-fancybox="gallerys">
              <!--18-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/01_s.png" />
              </div>
            </a>

          </div>

          <div class="carousel__slide grid grid-cols-2 gap-4">

            <a class="item" href="img/svideteltsv/34.png" data-fancybox="gallerys">
              <!--19-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/34_s.png" />
              </div>

            </a>
            <a class="item" href="img/svideteltsv/02.png" data-fancybox="gallerys">
              <!--20-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/02_s.png" />
              </div>
            </a>
            <a class="item" href="img/svideteltsv/irtech_security_fstek.jpg" data-fancybox="gallerys">
              <!--21-->
              <div class="certificates__item">
                <img class="img-responsive" src="img/svideteltsv/FSTEK_s.jpg" />
              </div>
            </a>

          </div>

        </div>

      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">

        <h2>Свидетельства и сертификаты</h2>
        <p>
          Мы - серьезная компания, которая проходит все этапы сертификации и действует только в рамках законодательства РФ. Мы оформляем все нужные документы и проходим сертификацию каждого нашего продукта.
        </p>
        <p>
          Также мы зарегистрированы в реестре российского ПО и имеем все необходимые свидетельства из Роспатента.
        </p>


      </div>

    </div>



  </div>
</div>

<div class="is-layout-flex wp-container-15 wp-block-columns alignwide">
  <div class="is-layout-flow wp-block-column">
  сюда код слайдера с наградами
  </div>



  <div class="is-layout-flow wp-block-column is-vertically-aligned-center">
  <h4>Награды</h4>



  <p>Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.</p>
  </div>
</div>

<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>

<div class="is-layout-flex wp-container-18 wp-block-columns alignwide">
  <div class="is-layout-flow wp-block-column is-vertically-aligned-center">
  <h4>Свидетельства и сертификаты</h4>



  <p>Мы — серьезная компания, которая проходит все этапы сертификации и действует только в рамках законодательства РФ. Мы оформляем все нужные документы и проходим сертификацию каждого нашего продукта.</p>



  <p>Также мы зарегистрированы в реестре российского ПО и имеем все необходимые свидетельства из Роспатента.</p>
  </div>



  <div class="is-layout-flow wp-block-column">
  сюда код с сертификатами
  </div>
  </div>

