<div class="certificates">
  <div class="container ">


    <div class="row row d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6 ">


        <div id="mainCarousel" class="carousel w-10/12 max-w-xl mx-auto">
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="https://lipsum.app/id/1/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>

            </a>
            <a class="item" href="https://lipsum.app/id/2/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>
            </a>
            <a class="item" href="https://lipsum.app/id/3/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>
            </a>

          </div>
          <div class="carousel__slide grid grid-cols-2 gap-4">
            <a class="item" href="https://lipsum.app/id/7/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>
            </a>
            <a class="item" href="https://lipsum.app/id/8/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>
            </a>
            <a class="item" href="https://lipsum.app/id/9/900x600" data-fancybox="gallery">
              <div class="certificates__item">
                <img class="img-responsive" src="img/svidet-sert.jpg" />
              </div>
            </a>

          </div>
        </div>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">

        <h2>Награды</h2>
        <p>
          Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.
        </p>


      </div>
    </div>



  <div class="row row d-flex">
    <div class="col-sm-12 col-md-6 col-lg-6 ">


      <div class="certificates-slider owl-carousel owl-theme">
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
        <div class="item">
          <div class=" ">
            <div class="certificates__item">
              <picture>
                <source srcset="img/svidet-sert.avif" type="image/avif">
                <source srcset="img/svidet-sert.webp" type="image/webp">
                <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
              </picture>

            </div>

          </div>
        </div>
    </div>


    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">

      <h2>Награды</h2>
      <p>
        Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.
      </p>


    </div>
  </div>

    <div class="row row d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6 ">


          <div class=" certificates__slider row" >
            <div class=" ">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.jpg"  alt="">
                </picture>

              </div>

            </div>
            <div class=" ">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>

              </div>

            </div>
            <div class=" ">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>
              </div>

            </div>
            <div class="">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>

              </div>

            </div>
            <div class="">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>

              </div>

            </div>
            <div class="">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>

              </div>

            </div>
            <div class=" ">
              <div class="certificates__item">
                <picture>
                  <source srcset="img/svidet-sert.avif" type="image/avif">
                  <source srcset="img/svidet-sert.webp" type="image/webp">
                  <img loading="lazy" class="img-responsive" src="img/svidet-sert.png"  alt="">
                </picture>

              </div>

            </div>
          </div>


      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">

        <h2>Награды</h2>
        <p>
          Мы посещаем все важные конференции и выставки, которые относятся к сфере образования, также мы сами участвуем как спикеры и получаем ценные дипломы и награды.
        </p>


      </div>
    </div>



  </div>
</div>

