<section class="contacts">
  <div class="contacts__inner">
    <div class="container form">
      <div class="col-md-12 col-lg-6">
        <div class="contacts__info">
          <h2 class="h2 text-light">Контакты АО «ИРТЕХ»</h2>

          <h3 class="h3">Администрация:</h3>
          <a class="p" href="mailto:nsinfo@ir-tech.ru">nsinfo@ir-tech.ru</a>

          <h3 class="h3">Бухгалтерия, Продажи, Партнёры:</h3>
          <a class="p" href="mailto:s@ir-tech.ru">s@ir-tech.ru</a>

          <h3 class="h3">Адрес офиса:</h3>
          <address class="p">
            443068 г. Самара, ул. Московское шоссе, д. 4, строение 4, этаж 12
          </address>
          <div>
            <h3 class="text-success">Служба технической поддержки:</h3>
            <a class="text-success" href="mailto:help@ir-tech.ru">help@ir-tech.ru</a>
            <a class="bg-success text-white">Запросить поддержку</a>
          </div>
          <div class="map" id="map"></div>

          <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A43cb399bdf5e18f039e372f3d167068b64aed711019abca2692f09af6c19f523&amp;width=100%&amp;height=700&amp;lang=ru_RU&amp;scroll=true"></script>

        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="contacts__form">
          <h4>Где найти ответы на вопросы:</h4>
          <p>
            <b> Руководство пользователя, встроенная системная справка</b> – это
            первые источники, к которым нужно обратиться, если у Вас возникнут
            вопросы по работе с программными продуктами.
            <b>
              Информацию о текущих обновлениях, ответы на часто задаваемые
              вопросы, методические материалы
            </b>
            находятся на страницах поддержки каждого продукта (блок справа —
            быстрый переход).<b>Индивидуальную консультацию</b> можно получить,
            воспользовавшись формой обратной связи. Специалисты службы поддержки
            ответят Вам в течение того же рабочего дня.
          </p>

          <form class="form">
            <h3>Запрос на индивидуальную консультацию:</h3>
            <div class="form-inner d-flex mb-4">
              <div class="form-left">
                <div class="form-left__item mr-4">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item mr-4">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item mr-4">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item mr-4">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item mr-4">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
              </div>
              <div class="form-right">
                <div class="form-righ__item">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select class="form-select " name="---" id="">
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
              </div>
            </div>
            <label>Опишите проблему*</label>
            <textarea class="mb-4" rows="4" style="width: 100%;"></textarea>

            <div class="container ">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <p>Прикрепить файл (изображение / документ)</p>
                  <p>
                    Имя файла должно содержать исключительно цифры и латинские
                    символы! <br>


                    <span class="text-danger">Неверно – файл.png ,</span>
                    <span class="text-success"> правильно – file.png.</span>
                  </p>
                </div>

                <div class="col-md-12 col-lg-6">
                  <div>
                    <p style="text-align: right;">
                      (Максимальный размер файла: 7,5 МБ)</p>
                    <input name="myFile" type="file">
                  </div>

                </div>
              </div>


            </div>


            <div class="col-md-12">
              <p>Для предотвращения автоматической отправки сообщений, ответьте, пожалуйста, на вопрос:</p>
              <div>

                <p><input type="text" style="max-width: 50%;" >
                Сколько будет 1+1?</p>
              </div>

              <button class="text-white bg-primary t btn">Отправить запрос</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
