<div class="cooperation">
  <div class="container">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="contacts__partners">
        <div class="container d-flex  flex-wrap">
          <div class="col-lg-4 col-md-4 col-xs-4 d-flex my-3">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img  class="img-responsive" src="img/partner-sber.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex  my-3">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img  class="img-responsive" src="img/partner-new-disk.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img  class="img-responsive" src="img/partner-rostelecom.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img  class="img-responsive" src="img/partner-gosuskugi.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img  class="img-responsive" src="img/partner-skyeng.png" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="contacts__content">
        <div class="container">
          <h2>Сотрудничаем с лучшими</h2>
          <p>Мы всегда открыты к партнерству с организациями, которые являются частью образовательной среды</p>
          <a href="#" class="btn  btn-default">Стать партнером</a>

        </div>
      </div>
    </div>
  </div>
</div>
