<div class="dev-implementation mb-5">
  <div class="container d-flex flex-wrap">
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center flex-wrap flex-column">

        <h1>Разработка и внедрение автоматизированных систем управления  для сферы образования</h1>
        <p>АО «ИРТех» имеет государственную аккредитацию от Министерства цифрового развития РФ</p>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <picture>
        <source srcset="img/dev-implementation.avif" type="image/avif">
        <source srcset="img/dev-implementation.webp" type="image/webp">
        <img loading="lazy" class="img-responsive" src="img/dev-implementation.png"  alt="Разработка и внедрение автоматизированных систем управления  для сферы образования">
      </picture>
    </div>
  </div>

</div>
