<div class="fixed_block_position">

	<div class="fixed_block">

    <header class="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <img src="img/svg/menu-btn.svg" alt="">
          </button>
          <a class="navbar-brand" href="/">
            <picture>
              <source srcset="img/logo.avif" type="image/avif">
              <source srcset="img/logo.webp" type="image/webp">
              <img loading="lazy" src="img/logo.png"  alt="Логотип ИРТЕХ">
            </picture>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="about.html">О компании</a></li>
            <li class="active"><a href="./">Продукты </a></li>
            <li><a href="contacts.html">Контакты</a></li>
            <li>
              <a href="#modal-menu" class="fancybox"><img src="img/svg/menu-btn.svg" alt=""></a>

            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </header>

  </div>
</div>
