<div class="innovative-solutions ">

  <div class="container ">
    <h2 class="">Инновационные решения и технологии</h2>

    <div class="row flex-wrap d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">
        <p>Приветствуем Вас, на этой страничке/</p>
        <p>Мы - компания ИРТЕХ, и мы делаем актуальный софт для сегмента «Автоматизированных Систем Управления для российских региональных систем образования».</p>

      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <picture>
          <source srcset="img/innovative-solutions1.avif" type="image/avif">
          <source srcset="img/innovative-solutions1.webp" type="image/webp">
          <img loading="lazy" class="img-responsive" src="img/innovative-solutions1.png"  alt="">
        </picture>
      </div>
    </div>

  </div>

  <div class="container mt-5">
    <div class="row flex-wrap d-flex">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <picture>
          <source srcset="img/innovative-solutions2.avif" type="image/avif">
          <source srcset="img/innovative-solutions2.webp" type="image/webp">
          <img loading="lazy"  class="img-responsive"  src="img/innovative-solutions2.png"  alt="">
        </picture>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">
        <p>Мы начали с небольшого - создали первую в России автоматизированную систему для учебно-воспитательной деятельности на уровне одной школы.
          </p>
        <p>Мы  делали ошибки и учились на них, преодолевали трудности, проявляли решительность, изучали новейшие технологии, следовали им и развивали лучшие навыки, в итоге мы стали большой компанией.</p>
        <p>Теперь мы легко удовлетворяем эти и другие потребности на уровне регионов и стран.</p>
      </div>
    </div>

  </div>

</div>
