<div id="modal-menu" style="display: none;">
  <div class="container">

    <div class="col-lg-3">

    </div>
    <div class="col-lg-4">
      <a href="#" class="mb-1"><img src="img/svg/sgo-icon.svg" alt="Логотип SGO">Сетевой Регион. Образование</a>
      <a href="#"><img src="img/svg/sgo-icon.svg" alt="Логотип SGO">Сетевой Город. Образование</a>

      <a href="#">ОбщеОбразовательная Организация</a>

      <a href="#">Дошкольная Общеобразовательноа Организация</a>

      <a href="#">Организация Дополнительного Образования</a>

      <a href="#">Профессиональная Образовательная Организация</a>

      <a href="#">Одаренные Дети</a>

      <a href="#"><img src="img/svg/sgo-icon.svg" alt="Логотип SGO">Е-услуги</a>

      <a href="#">Подача заявлений в ОО</a>

      <a href="#">Подача заявлений в ДО</a>

      <a href="#">Подача заявлений в ПО</a>

      <a href="#">Подача заявлений в УДО</a>


    </div>

    <div class="col-lg-5">

    </div>

  </div>

</div>
