<div id="modal-menu" class="modal-menu p-4" style="display: none;">

  <div class="container">

    <div class="col-lg-3">
      <a href="about.html" class="mb-2 d-block">О компании</a>
      <a href="new.html" class="mb-2 d-block">Новости</a>
      <a href="team.html" class="mb-2 d-block">Команда</a>

      <a href="team.html" class="mb-2 d-block">Работать в компании</a>

      <a href="buy.html" class="mb-2 d-block">Как купить</a>
      <a href="contacts.html" class="mb-2 d-block">Контакты</a>
      <a href="support.html" class="mb-2 d-block">Поддержка</a>

      <a href="protection.html" class="mb-2 d-block">Защита персональных данных</a>




    </div>
    <div class="col-lg-4">
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Сетевой Регион. Образование</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Сетевой Город. Образование</a>

      <a href="products.html" class="mb-2 d-block pl-4">ОбщеОбразовательная Организация</a>

      <a href="products.html" class="mb-2 d-block pl-4">Дошкольная Общеобразовательноа Организация</a>

      <a href="products.html" class="mb-2 d-block pl-4">Организация Дополнительного Образования</a>

      <a href="products.html" class="mb-2 d-block pl-4">Профессиональная Образовательная Организация</a>

      <a href="products.html" class="mb-4 d-block pl-4">Одаренные Дети</a>

      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Е-услуги</a>

      <a href="products.html" class="mb-2 d-block  pl-4">Подача заявлений в ОО</a>

      <a href="products.html" class="mb-2 d-block  pl-4">Подача заявлений в ДО</a>

      <a href="products.html" class="mb-2 d-block  pl-4">Подача заявлений в ПО</a>

      <a href="products.html" class="mb-2 d-block  pl-4">Подача заявлений в УДО</a>


    </div>

    <div class="col-lg-5">
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Мониторинг Системы Образования</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Школьное Питание</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Аттестация педагогических кадров</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Многоуровневая Система Качества Образования</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Региональная Образовательная Система Тестирования</a>
      <a href="products.html" class="mb-2 d-block"><img class="mr-1" src="img/svg/sgo-icon.svg" alt="Логотип SGO">Учет Контингента</a>
      <a href="products.html" class="mb-2 d-block  pl-4">Планшет министра</a>
      <a href="products.html" class="mb-2 d-block  pl-4">Навигатор Дополнительного Образования</a>
      <a href="products.html" class="mb-2 d-block  pl-4">Навигатор Консультационной Помощи</a>
      <a href="products.html" class="mb-2 d-block">Интеграция с сторонними продуктами и сервисами</a>

    </div>

  </div>

</div>
