<div class="numbers py-5 my-5">
  <div class="container">
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <div class="numbers-item text-center">
        <div class="h3  mb-1">21 год</div>
        <p>на рынке и являемся лидером</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <div class="numbers-item text-center">
        <div class="h3  mb-1">~6 млн.</div>
        <p>пользователей</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <div class="numbers-item text-center">
        <div class="h3 mb-1">более 5000 школ</div>
        <p>выбрали наши продукты</p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-6">
      <div class="numbers-item text-center">
        <div class="h3  mb-1">26 регионов</div>
        <p>пользуются нашими продуктами</p>
      </div>
    </div>
  </div>
</div>
