<div class="numbers">
  <div class="container">
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="numbers-item">
        <div class="h3">21 год</div>
        <p>на рынке и являемся лидером</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="numbers-item">
        <div class="h3">~6 млн.</div>
        <p>пользователей</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="numbers-item">
        <div class="h3">более 5000 школ</div>
        <p>выбрали наши продукты</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="numbers-item">
        <div class="h3">26 регионов</div>
        <p>пользуются нашими продуктами</p>
      </div>
    </div>
  </div>
</div>
