<div class="certificates">
  <div class="container ">

    <div class="row row d-flex ">
      <div class="col-sm-12 col-md-6 col-lg-6 pr-5">


        <div class="form">
          <h3 class="text-center mb-5">Запрос на сотрудничество</h3>

          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваше имя:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш е-майл:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш номер телефона:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex  mb-4 ">
            <label class="col-sm-12 col-md-6 col-lg-6 mb-4"  for="">Опишите предложение:</label>
            <textarea class="form-control col-sm-12 col-md-6 col-lg-6" rows="4" name="text" placeholder=""></textarea>
          </div>

          <div class="input-group d-flex align-items-center mb-4  ">
            <label class="col-sm-12 col-md-4 col-lg-4" for="">Прикрепить файлы:</label>

            <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="attach-files">
                <div class="btn">Выберите файл</div>
                <span>приложенный файл...</span>
              </div>
            </div>

          </div>
          <div class="input-group d-flex  align-items-center  justify-content-sm-between">
            <p><input type="checkbox" name="a" value="" checked> Заполняя данную форму вы даете согласие...</p>

            <button type="button" class="btn btn-default mp-5">Отправить</button>
          </div>

        </div>



      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">


        <h2>Открыты к сотрудничеству</h2>
        <p>
          Мы сотрудничаем со всеми современными и передовыми компаниями, развивающихся в сфере образования. Для нас важно делать вместе лучшие продукты, которые будут соответствовать пожеланиям потребителей, поэтому мы рады всем, кто разделяет наши ценности.
        </p>


        <div class="container d-flex  flex-wrap mt-5">
          <div class="col-lg-4 col-md-4 col-xs-4 d-flex my-3">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img class="img-responsive" src="img/partner-sber.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex  my-3">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img class="img-responsive" src="img/partner-new-disk.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img class="img-responsive" src="img/partner-rostelecom.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img class="img-responsive" src="img/partner-gosuskugi.png" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4  d-flex my-3 ">
            <div class="contacts__partner d-flex align-content-center flex-wrap">
              <img class="img-responsive" src="img/partner-skyeng.png" alt="">
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


