<div class="container mt-5">
  <div class="row flex-wrap d-flex">



    <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column ">

      <h2>Продукты нашей компании</h2>
      <br>
      <p>
        Наши продукты – информационные системы, состоящие из многих функциональных модулей, которые могут взаимодействовать между собой.        </p>
        <br><br>
        <p>Надежность, комплексность, безопасность
          решений компании ИРТех, интеграция с другими системами позволяет достичь
          максимальной эффективности управления образовательными процессами на любом
         уровне - от отдельных школ до создания АСУ региона и национального единого
          информационного образовательного пространства. </p>

    </div>


    <div class="col-sm-12 col-md-6 col-lg-6">
      <picture>
        <source srcset="img/network_town_img.avif" type="image/avif">
        <source srcset="img/network_town_img.webp" type="image/webp">
        <img loading="lazy" class="img-responsive" style="    width: 100%;" src="img/network_town_img.png" alt="">
      </picture>
    </div>


  </div>

</div>


<div class="products mt-5 ">


  <div class="container d-flex  flex-wrap  mt-5">
    <div class="col-lg-6 d-flex  my-3  ">
      <div class="product mx-2 "><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
    </div>

    <div class="col-lg-6 d-flex  align-content-center justify-content-start flex-wrap">
      <p>Для образовательной организации</p>
    </div>
  </div>

  <div class="container d-flex  flex-wrap  mt-5">
    <div class="col-lg-6 d-flex  align-content-center justify-content-end flex-wrap">
      <p>Для регионов, городов, муниципалитета</p>
    </div>
    <div class="col-lg-6 d-flex my-3 ">
      <div class="product mx-2 "><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
    </div>
  </div>


  <div class="container d-flex  flex-wrap  mt-5">
    <div class="col-lg-6 d-flex  my-3  ">
      <div class="product mx-2 "><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75 ml-auto"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75 ml-auto" src="img/svg/product.svg" alt=""></div>
    </div>

    <div class="col-lg-6 d-flex  align-content-center justify-content-start flex-wrap">
      <p>Для детей</p>
    </div>
  </div>

  <div class="container d-flex  flex-wrap  mt-5">

    <div class="col-lg-6 d-flex  align-content-center justify-content-end flex-wrap">
      <p>Для родителей</p>
    </div>

    <div class="col-lg-6 d-flex  my-3  ">
      <div class="product mx-2 "><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img  class="img-responsive w-75"  src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
      <div class="product mx-2"><img   class="img-responsive w-75" src="img/svg/product.svg" alt=""></div>
    </div>
  </div>


</div>

<div class="container mt-5 pb-5">
  <h2 class="mb-5">Преимущества наших продуктов</h2>
  <div class="row">



    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      Модульное построение систем позволяет учитывать специфику и возможности региона,
      снижает затраты от их внедрения и владения. Мы помогаем решить все желаемые задачи.
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      Собственная служба технической
      поддержки делает использование продуктов ИРТех более эффективным и удобным для
     всех видов пользователей.
    </div>


    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
      Мы создали самые эффективные и надежные инструменты для управления образованием России, это доказывают награды наших продуктов, а также география их использования.
    </div>

  </div>

</div>

<div class="regions py-5 my-5">
  <div class="container">
    <img class="img-responsive" src="img/regions.png" alt="">
  </div>
</div>
