<div class="container ">

  <h2>Защита персональных данных в информационных системах, разработанных АО «ИРТех»</h2>

  <p><strong>Сокращения:</strong> <br>
    ПДн – персональные данные;<br>
    ИСПДн – информационная система персональных данных.
  </p>

  <p>Защита персональных данных в информационных системах для сферы образования, разработанных АО «ИРТех», полностью соответствует требованиям, методам и средствам защиты ПДн при их обработке в ИСПДн, определенных в Федеральном законе № 152-ФЗ от 27.07.2006 «О персональных данных», постановлениях правительства РФ, документах Регуляторов.
  </p>

  <p>Основой защиты информации в указанных системах является модуль защиты информации от несанкционированного доступа  «IRTech Security», который прошел все необходимые сертификационные испытания и получил сертификат ФСТЭК,  (Сертификат соответствия №2813 от 15 января 2013 по требованиям безопасности информации).
  </p>

<p>В информационных системах АО «ИРТех» применяются и другие способы защиты информации, а именно:

  <ul>
    <li>шифрование паролей, их хранение и передача по каналам связи только в шифрованном виде;
    </li>
    <li>ограничение минимальной длины пароля;</li>
    <li>защита от попыток подбора пароля;</li>
    <li>проверка пароля на надежность с целью исключения легко подбираемых паролей;
    </li>
    <li>защита от одновременной работы нескольких пользователей в системе под одним и тем же именем пользователя;
    </li>
    <li>настройка прав доступа и ролей пользователей только уполномоченным Администратором системы;
    </li>
    <li>отсутствие прямого доступа пользователей в систему управления базами данных;
    </li>
    <li>принудительное завершение сеанса работы пользователя при его неактивности;
    </li>
    <li>возможность ограничения диапазона IP-адресов, с которых разрешен вход в систему;
    </li>
    <li>исключение записи или хранения объектов системы на персональном компьютере пользователя.
    </li>
    <li>Следует отметить, что защита ПДн в ИСПДн – это комплекс мер, включающих в себя организационные и (или) технические меры.
    </li>
  </ul>
</p>

<p>В соответствии с вышесказанным, АО «ИРТех» рекомендует:</p>


<p>на сервере, где установлена информационная система АО «ИРТех», кроме использования модуля «IRTech Security» использовать (как минимум) сертифицированные ФСТЭК межсетевой экран и антивирус, провести организационные меры по защите информации;
  на компьютерах пользователей организационные меры проводить в случае необходимости, исходя из модели угроз безопасности. Технические меры защиты на компьютерах пользователей не проводятся.
  </p>



</div>
