<div class="story py-5 ">
  <div class="container">

    <h2 class="text-center">История компании</h2>

    <div class="carousel-story  mt-5">

      <div id="sync2" class="owl-carousel owl-theme">
        <div class="item">
            <div class="text-header">
              Навигатор дополнительного образования детей
            </div>
            <div class="year-wrapper">2022</div>

        </div>
        <div class="item">
          <div class="text-header">
            Оптимизация продкутов компаниии
          </div>
          <div class="year-wrapper">2021</div>
        </div>
        <div class="item">
          <div class="text-header">
            Доработка систем для дистанционного обучения
          </div>
          <div class="year-wrapper">2020</div>
        </div>
        <div class="item">
          <div class="text-header">
            Перевод продуктов на Open soure software
          </div>
          <div class="year-wrapper">2019</div>
        </div>
        <div class="item">
          <div class="text-header">
            Доработка федеральной информационной системы
          </div>
          <div class="year-wrapper">2018</div>
        </div>
        <div class="item">
          <div class="text-header">
            АИС «Аттестация педагогических работников» и несколько новых модулей
          </div>
          <div class="year-wrapper">2017</div>
        </div>
        <div class="item">
          <div class="text-header">
            Развитие систем компании «ИРТех»
          </div>
          <div class="year-wrapper">2016</div>
        </div>
        <div class="item">
          <div class="text-header">
            АИС «Аттестация педагогических работников» и несколько новых модулей
          </div>
          <div class="year-wrapper">2015</div>
        </div>

        <div class="item">
          <div class="text-header">
            Модуль ПОО (Профессиональная образовательная организация)
          </div>
          <div class="year-wrapper">2014</div>
        </div>


        <div class="item">
          <div class="text-header">
            АИС «МСОКО» (Многоуровневая система оценки качества образования)
          </div>
          <div class="year-wrapper">2013</div>
        </div>


        <div class="item">
          <div class="text-header">
            Модуль «Школьное питание»
          </div>
          <div class="year-wrapper">2012</div>
        </div>


        <div class="item">
          <div class="text-header">
            Модуль «IRTech Security»
          </div>
          <div class="year-wrapper">2011</div>
        </div>

        <div class="item">
          <div class="text-header">
            АИС «Е-услуги. Образование»
          </div>
          <div class="year-wrapper">2010</div>
        </div>
        <div class="item">
          <div class="text-header">
            АИС «Сетевой Регион. Образование»
          </div>

          <div class="year-wrapper">2008</div>
        </div>
        <div class="item">
          <div class="text-header">
            Модуль «Мониторинг системы образования»
          </div>
          <div class="year-wrapper">2007</div>
        </div>

        <div class="item">
          <div class="text-header">
            АИС СГО (3 модуля)
          </div>
          <div class="year-wrapper">2006</div>
        </div>


        <div class="item">
          <div class="text-header">
            АИС СГО (2 модуля)
          </div>
          <div class="year-wrapper">2005</div>
        </div>

        <div class="item">
          <div class="text-header">
            Модуль «SMS Школа»
          </div>
          <div class="year-wrapper">2003</div>
        </div>
        <div class="item">
          <div class="text-header">
            АИС «NetSchool»
          </div>
          <div class="year-wrapper">2002</div>
        </div>

        <!--======================================----->
      </div>
      <div id="sync1" class="owl-carousel owl-theme">
        <div class="item">
          <div class="text-body">
            Выпущена новая информационная система «Навигатор дополнительного образования детей»
            «Навигатор» – это единая электронная база всех творческих объединений и секций определенного региона. Этот ресурс функционирует во всех федеральных округах в рамках национального проекта «Образование» и федерального проекта «Успех каждого ребенка». Реестр программ и организаций, предоставляющих услуги дополнительного образования, поддерживается в актуальном состоянии.

          </div>
        </div>
        <div class="item">
          <div class="text-body">
            Проведена оптимизация продуктов компании для обработки и хранения больших массивов данных
Проведен комплекс доработок Систем по Распоряжению правительства РФ за № 1845-р
Модуль «Всероссийская олимпиада школьников» (ВсОШ)
Преобразованы интеграции с МВД, ЕГР ЗАГС, ПФР, ПМПК, проведена интеграция с ЕСНСИ
Модернизировано взаимодействие с ЕПГУ/РПГУ
Единовременно обновлены все региональные информационные системы производства АО «ИРТех»
          </div>
        </div>
        <div class="item">
          <div class="text-body">Доработка Систем для применения в дистанционном (смешанном) обучении в режиме карантина (только удалённое взаимодействие учителя, ученика и родителя)Интеграция продуктов компании с системами проведения видеоконференций</div>
        </div>
        <div class="item">
          <div class="text-body">Доработка существующих систем
            Перевод продуктов ИРТех на Open source software
            Проекты в области Big Data</div>
        </div>
        <div class="item">
          <div class="text-body">Внедрение ЕИС Дошкольного образования Московской области
            Пакет интеграционных портальных сервисов взаимодействия
            Доработка Федеральной информационной системы ГИА и Приема</div>
        </div>
        <div class="item">
          <div class="text-body">АИС «Аттестация педагогических работников»
            Модуль «Одаренные дети»
            Модуль «Зачисление в организацию дополнительного образования»
            Модуль «Зачисление в профессиональную образовательную организацию»
            Модуль «Летняя занятость»</div>
        </div>
        <div class="item">
          <div class="text-body">
            Развитие систем компании «ИРТех»
            АИС «Сетевой Город. Образование». Новая версия
          </div>
        </div>
        <div class="item">
          <div class="text-body">АИС «МСОКО» (Многоуровневая система оценки качества образования. Региональный уровень)
            Школьный Дневник СГО (Мобильное приложение АИС «Сетевой Город. Образование»)
            АИС «Е-услуги образование» Новая версия
            АИС «РОСТ» (Региональная образовательная система тестирования)</div>
        </div>

        <div class="item">
          <div class="text-body">	Модуль ПОО (Профессиональная образовательная организация). Новая версия
            Модуль «Мониторинг системы образования». Новая версия
            АИС «Учет Контингента»
            Модуль интеграции с федеральной системой «Концентратор услуг»</div>
        </div>

        <div class="item">
          <div class="text-body">	Модуль ПОО (Профессиональная образовательная организация). Новая версия
            Модуль «Мониторинг системы образования». Новая версия
            АИС «Учет Контингента»
            Модуль интеграции с федеральной системой «Концентратор услуг»</div>
        </div>

        <div class="item">
          <div class="text-body">	        АИС «МСОКО» (Многоуровневая система оценки качества образования)
            Модуль «Зачисление в детские оздоровительные лагеря» (АИС «Е-услуги. Образование»)
            Модуль интеграции с «Федеральной системой электронной очереди в ДОО»</div>
        </div>

        <div class="item">
          <div class="text-body">
            Модуль «Школьное питание»
          </div>
        </div>


        <div class="item">
          <div class="text-body">Модуль «IRTech Security» (сертификат ФСТЭК № 2813 от 15.01.2013 г.)
            Электронные сервисы для интеграции со СМЭВ, ЕПГУ/РПГУ
            Реализация государственных и муниципальных услуг в электронном виде в сфере образования</div>
        </div>


        <div class="item">
          <div class="text-body">
            АИС «Е-услуги. Образование» (подача заявлений и зачисление в ДОО и ООО)
          </div>
        </div>
        <div class="item">
          <div class="text-body">
            АИС «Сетевой Регион. Образование»: Модуль РОУО (региональный орган управления образованием)
          </div>
        </div>
        <div class="item">
          <div class="text-body">
            Модуль «Мониторинг системы образования»
          </div>
        </div>
        <div class="item">
          <div class="text-body">
            АИС «Сетевой Город. Образование»:
            Модуль ДОО (дошкольная образовательная организация)
            Модуль ОДО (организация дополнительного образования)
            Модуль ПОО (профессиональная образовательная организация)
          </div>
        </div>

        <div class="item">
          <div class="text-body">
            АИС «Сетевой Город. Образование»:
            Модуль ООО (общеобразовательная организация)
            Модуль МОУО (муниципальный орган управления образованием)
          </div>
        </div>
        <div class="item">
          <div class="text-body">
            Модуль «SMS Школа»
          </div>
        </div>

        <div class="item">
          <div class="text-body">
            АИС «NetSchool» (в данном продукте впервые в России появились «Электронный журнал» и «Электронный дневник», работающие в режиме онлайн через Интернет)
          </div>
        </div>


      </div>

    </div>

  </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>




</style>
