<div class="story py-5 ">
  <div class="container">

    <h2 class="text-center">История компании</h2>


    <div class="slider responsive py-4 mt-5">
      <div class="px-2">
        <p>АИС «Аттестация педагогических работников» и несколько новых модулей</p>

        <p><a href="#">2017</a></p>
      </div>
      <div class="px-2">
        <p>Доработка федеральной информационной системы</p>
        <p><a href="#">2018</a></p>
      </div>
      <div class="px-2">
        <p>Перевод продуктов на Open soure software</p>
        <p><a href="#">2019</a></p>
      </div>
      <div class="px-2">
        <p>Доработка систем для дистанционного обучения</p>
        <p><a href="#">2020</a></p>
      </div>
      <div class="px-2">
        <p>Оптимизация продкутов компаниии</p>
        <p><a href="#">2021</a></p>
      </div>
      <div class="px-2">
        <p>Навигатор дополнительного образования детей</p>
        <p><a href="#">2022</a></p>
      </div>
      <div class="px-2">
        <p>Навигатор дополнительного образования детей</p>
        <p><a href="#">2022</a></p>
      </div>
    </div>

    <p class="text-center">Доработка существующих систем <br>
      Перевод продуктов ИРТЕХ на Open sorce software <br>
      Проекты в области Big Data</p>
  </div>
</div>


  <div class="container mt-5">
    <div class="row flex-wrap d-flex">

      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-wrap flex-column justify-content-center">
        <p>
          Для нас ценны потребности детей, работающих с ними учителей, родителей и всех, кто руководит процессом образования.  Мы каждый день улучшаем свои продукты и развиваем наши способности, чтобы усовершенствовать и облегчить образовательный процесс.
          </p>
        <p>За два десятилетия мы накопили уникальный опыт создания, внедрения и
          поддержки сложных программных продуктов. Благодаря этому опыту мы создаем комфортную образовательную среду для всех пользователей. </p>
        <p>Теперь мы ведущая IT-компания, которая поддерживает развитие образовательной среды Российской Федерации и странах СНГ. Поэтому мы выбираем каждый день развиваться дальше и искать новые возможности. </p>

        </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <picture>
          <source srcset="img/img01.avif" type="image/avif">
          <source srcset="img/img01.webp" type="image/webp">
          <img loading="lazy"  class="img-responsive"  src="img/img01.png"  alt="">
        </picture>
      </div>

    </div>

  </div>


