<div class="support">

  <div class="container  mb-5">
    <h2 class="mb-5">Техническая поддержка</h2>
    <div class="jumbotron">
      <h3 class="mb-5 mt-0">Где найти ответы на вопросы</h3>
      <p>Руководство пользователя, встроенная системная справка – это первые источники, к которым нужно обратиться, если у Вас возникнут вопросы по работе с программными продуктами. Информацию о текущих обновлениях, ответы на часто задаваемые вопросы, методические материалы находятся на страницах поддержки каждого продукта (блок справа — быстрый переход). Индивидуальную консультацию можно получить, воспользовавшись формой обратной связи. Специалисты службы поддержки ответят Вам в течение того же рабочего дня.</p>
    </div>

  </div>

  <div class="container">
    <div class="contacts__form">


      <form class="">
        <h2>Запрос на техническую поддержку:</h2>
        <div class="form-inner">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mb-6 ">

              <div class="form-left">
                <div class="form-left__item  d-flex">

                  <label class="text-muted">Выберите тип обращения*</label>

                    <select name="---" id="" class="form-control" >
                      <option value="----">----</option>
                      <option value="vfvf">Значение 1</option>
                      <option value="vfvvfff">Значение 2</option>
                    </select>


                </div>
                <div class="form-left__item  d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id="" class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item  d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id="" class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item  d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id="" class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-left__item  d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id="" class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mb-6 ">
              <div class="form-right">
                <div class="form-righ__item d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id=""  class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id=""  class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id=""  class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id=""  class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
                <div class="form-righ__item d-flex">
                  <label class="text-muted">Выберите тип обращения*</label>
                  <select name="---" id=""  class="form-control" >
                    <option value="----">----</option>
                    <option value="vfvf">Значение 1</option>
                    <option value="vfvvfff">Значение 2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>




        </div>
        <div class="d-flex">
          <label class="text-muted">Опишите проблему*</label>
          <textarea  class="form-control" ></textarea>
        </div>


        <div class="input-group d-flex  align-items-center  justify-content-sm-between">
          <p><input type="checkbox" name="a" value="" checked=""> Заполняя данную форму вы даете согласие...</p>

          <button type="button" class="btn btn-default mp-5">Отправить</button>
        </div>
      </form>
    </div>
  </div>


</div>
