<div class="team">
  <div class="container  mb-5">

    <div style="margin-bottom: -6rem; position: relative; z-index: 1;">
      <h2>Коллектив команды ИРТЕХ</h2>
      <p>Сколько нас, кто мы и почему мы ИРТЕХ</p>
    </div>
    <img class="img-responsive" src="img/team-bg.webp" alt="">

  </div>

  <div class="container d-flex">

    <div class="col-sm-12 col-md-6 col-lg-6 mb-4 ">

      <div class="new-item mb-5">

        <h3 class="my-3">Мы ИРТЕХ потому...</h3>
        <p>...что мы разрабатываем Инновационные Решения и ТЕХнологии для сферы образования.
        </p>
        <p>
          Потому что мы верим в то, что технологии призваны служить людям, что они могут быть полезны для системы образования, что с их помощью мы упрощаем жизнь разных людей и бережем природу.</p>

      </div>

      <div class="new-item">

        <h3 class="my-3">Новый офис компании</h3>
        <p>Возраст наших сотрудников от 20 до 60 лет, мы отцы, матери, коллеги, друзья, студенты и учителя. Мы максимально приближены к среде тех, кто пользуется продуктами нашей компании.</p>

      </div>

    </div>


    <div class="col-sm-12 col-md-6 col-lg-6 mb-4 d-flex flex-wrap flex-column justify-content-center">

      <div class="new-item">

        <h3 class="my-3">Новый офис компании</h3>
        <p>После продолжительного ожидания завершено строительство нового офисного помещения АО «ИРТех». Теперь мы находимся в IT-кластере «Монте-Роза».</p>

      </div>

    </div>

  </div>


  <div class="container ">

    <div class="row row d-flex ">
      <div class="col-sm-12 col-md-6 col-lg-6 pr-5">

        <div class="form">
          <h3 class="text-center mb-5">Запрос на работу</h3>


          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваше имя:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш е-майл:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex align-items-center mb-4">
            <label class="col-sm-12 col-md-6 col-lg-6" for="">Ваш номер телефона:</label>
            <input type="text" class="form-control col-sm-12 col-md-6 col-lg-6" placeholder="" aria-describedby="basic-addon1">
          </div>

          <div class="input-group d-flex  mb-4 ">
            <label class="col-sm-12 col-md-6 col-lg-6 " for="">Опишите предложение:</label>
            <textarea class="form-control col-sm-12 col-md-6 col-lg-6" rows="4" name="text" placeholder=""></textarea>
          </div>

          <div class="input-group d-flex align-items-center mb-4  ">
            <label class="col-sm-12 col-md-4 col-lg-4" for="">Прикрепить файлы:</label>

            <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="attach-files">
                <div class="btn">Выберите файл</div>
                <span>приложенный файл...</span>
              </div>
            </div>

          </div>

          <div class="input-group d-flex  align-items-center  justify-content-sm-between">
            <p><input type="checkbox" name="a" value="" checked=""> Заполняя данную форму вы даете согласие...</p>

            <button type="button" class="btn btn-default mp-5 px-5">Отправить</button>
          </div>
        </div>






      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 ">


        <h2>Стать частью команды:</h2>
        <p>
          Мы понимаем,ч то нам есть куда расти, и поэтому мы рады свежим умам в нашей компании. Если тебе хочется работать у нас и приносить прямую пользу людям, то мы будем рады побеседовать с тобой.
        </p>
        <p>Заполняй форму, расскажи о себе, и мы договоримся о встрече.</p>




      </div>
    </div>
  </div>

</div>

